.full-col
  = link_to 'new channel', new_channel_path
  %ul.channels
    - @channels.each do |c|
      %li.channel
        .title= link_to c.title, c
        .actions
          = link_to 'delete', @channel, :method => :delete