#alert{style: "display:none"}

#channel-modal.modal
#notes-modal.modal
#restream-modal.modal
#add-modal.modal
#login-modal.modal

#player
  #youtube-player.player
    .mask
  #vimeo-player.player
    .mask
    #vimeo-dummy

#remote-control-pane.clearfix
#current-pane-target-zone
  .mark +
  #current-pane
    #current-video
    #current-channel

:javascript
  $(document).ready(function() {
    var channel = new App.Models.Channel(#{@channel.to_json})
    var channels = new App.Models.Channels(#{@explore_channels.to_json})
    var current_user = #{logged_in? ? current_user.as_json({include: [:channels]}).merge({channel_list: current_user.channel_list.as_json}).to_json : "null"}

    var bootstrap = {
      channel: channel,
      current_user: current_user,
      channels: channels
    }

    App.initialize(bootstrap);
  });
