= render partial: "player"

:javascript
  $(document).ready(function() {
    var current_user = #{logged_in? ? current_user.as_json.merge({channel_list: @channel_list.as_json, channels: @my_channels.as_json, loggedIn: true}).to_json : "null"}

    var bootstrap = {
      channel: #{@channel.to_json || "null"},
      current_user: current_user,
      first_airing_id: #{@first_airing_id || "null"}
    };


    App.initialize(bootstrap);
  });
