#mute.on.chromeless
#player
  #youtube-player.player
    .mask
  #vimeo-player.player
    .mask
    #vimeo-dummy

:javascript
  $(document).ready(function() {
    var channel = new App.Models.Channel(#{@channel.to_json})

    var bootstrap = {
      channel: channel
    }

    App.initialize(bootstrap);
  });
