#mute.on.chromeless
-##invite-modal.modal
#player.chromeless
  #youtube-player.player
    .mask
  #vimeo-player.player
    .mask
    #vimeo-dummy

:javascript
  $(document).ready(function() {

    var bootstrap = {
      channel: #{@channel.to_json},
      noInvite: true
    };

    App.initialize(bootstrap);
  });
