#player
  #youtube-player.player
    .mask
  #vimeo-player.player
    .mask
:javascript
  $(document).ready(function() {
    var cookie_video_id = window.App.cookie.get('channel-' + '#{@channel.id}');
    $.extend(window.App,{
      playerManager: new App.PlayerManager(cookie_video_id == "" ? '#{@current.id}' : cookie_video_id, '#{@channel.id}')
    })
  });
  
