= render partial: "player"

:javascript
  $(document).ready(function() {
    var current_user = #{current_user_json(@channel_list, @my_channels)}

    var bootstrap = {
      channel: #{@channel.to_json},
      current_user: current_user,
      first_airing_id: #{@first_airing_id.to_json}
    };


    App.initialize(bootstrap);
  });
