<p><%= @user.username %>,</p>

<% for airing in @airings %>
  <p>
    <%= airing.user.username %>
    added a video:
    <strong><%= link_to airing.title, start_video_url(airing.channel.slug, v: airing.id) %></strong>.
  </p>
<% end %>

<p><a href="<%= root_url %>">moziy.com</a></p>
