<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Hello <%= @user.username %>,</p>

    <p><%= link_to @their_name, slug_url(@their_channel.slug) %> just liked your video <strong><%= @video_title %></strong> from <strong><%= @your_channel.title %></strong>. </p>

    <p>Keep posting the goodness.</p>

    <p><a href="http://mosey.tv">mosey.tv</a></p>
  </body>
</html>
