<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p><strong><%= @channel.title %></strong> is entertaining. Proof: <%= @subscriber.username %> just followed it.</p>

    <p>Congrats. Keep it up.</p>

    <p><a href="http://moziy.com">moziy.com</a></p>
  </body>
</html>
