= form_tag manage_channel_memberships_path(@channel), id: "add-member", class: "horizontal-form" do
  = label_tag :email, 'Add a member'
  = text_area_tag :email, "", placeholder: "Enter an email to invite a collaborator"
  = submit_tag "Invite", class: "primary button"
