#members-manage
  - if @channels.any?
    %ul.members.channels.items
      = render partial: "manage/followers/channel", collection: @channels, as: :channel
:javascript
  mixpanel.track("Manage:Following");
