<header class="clearfix">
  <h1>welcome to moziy</h1>
</header>
<h3>please add 3 of your favorite videos to start your stream</h3>
<form id="add-video" class="horizontal-form">
  <input type="text" id="links" name="links" placeholder="enter a youtube/vimeo video url" />
  <i class="loader" />
  <input type="submit" value="add" class="primary button" />
</form>

<ul id="video-list" class="list card-list clearfix">
</ul>
