<div id="main-content" class="pin-top-bar">
  <header class="clearfix">
    <div class="title">
      <h1>find your friends</h1>
      <h2>
        search for streams that your friends have created
      </h2>
    </div>
    <div id="next">
      <h1>
        <img src="/assets/moziy-logo-2.png" />
      </h1>
      <div id="next-button" class="button action-button primary">
        start watching
      </div>
    </div>
  </header>
  <div id="finding-friends-loader" class="welcome-loader">
    <div class="loader"></div>
    <div class="loader-caption">
      finding friends
    </div>
  </div>
  <div id="connect-gmail-loader" class="welcome-loader">
    <div class="loader"></div>
    <div class="loader-caption">
      awaiting authorization
    </div>
    <div class="loader-actions">
      <div class="button cancel primary">try again</div>
      <div class="button cancel">cancel</div>
    </div>
  </div>
  <div id="find-friends">
    <div class="from-gmail button primary">connect to gmail</div>
    <ul class="welcome-channel-list list clearfix">
    </ul>
  </div>
</div>
