<div id="next">
  <div id="next-button" class="button action-button primary">
    next
  </div>
  <h1>awesome, let's go to the next step</h1>
</div>
<div id="main-content">
  <div id="add-videos">
  </div>
  <div id="suggest-followers">
  </div>
</div>
