<header class="clearfix">
  <h1>moziy is your destination for men’s lifestyle video. welcome.</h1>
</header>
<h3>please follow a few streams you think you’ll like.</h3>

<ul id="channel-list" class="list clearfix">
</ul>
