<div class="header modal-no-padding clearfix">
  <div class="channel-info">
    <img class="channel-image" width=100 height=100 src="{{cover_art.thumb_player.url}}" />
    <div class="channel-title channel-play">
      <div class="channel-slug">{{title}}</div>
      <div class="channel-description">{{description}}</div>
    </div>
  </div>
</div>
<div class="follow-button button action-button">
  <span class="follow-text">
    <i class="follow-white on" />
    follow
  </span>
  <span class="following-text">following</span>
  <span class="unfollow-text">unfollow</span>
</div>
