<div id="main-content">
  <header class="clearfix">
    <div class="title">
      <h1><img src="/assets/moziy-logo-big.png" width=300 /></h1>
      <h2>
        television for the creative, intellectual, foodie, techie,
        <br />
        savant, avant-garde, athletic and ambitious
      </h2>
    </div>
    <div class="pin-top-container">
      <div id="next">
        <h1>
          <img src="/assets/moziy-logo-2.png" />
        </h1>
        <div id="next-message" class="message text-flash"></div>
        <div id="next-button" class="button action-button primary">
          next
        </div>
      </div>
    </div>
  </header>
  <div id="suggest-followers">
    <ul class="welcome-channel-list list clearfix">
    </ul>
  </div>
</div>
