%li.video-item.video.likes{:id => "video_#{a.video_id.to_s}", class: a.state}
  .title= link_to a.video.title, slug_path(a.channel.slug)
  .channel= link_to a.channel.title, slug_path(a.channel.slug)
