= raw @airing.video.body
%h1= link_to start_video_url(@airing.channel.slug, v: @airing.id), start_video_path(@airing.channel.slug, v: @airing.id)
- if @airing.history.blank?
  .empty No activity yet.
- else
  %ul.activities
    - for activity in @airing.history
      = render partial: "manage/activities/#{activity.event_type}",
        locals: {activity: activity}
