<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to moziy!</h1>
    <p>moziy is a fun new way to find and share the coolest videos in the world.</p>
    <ol>
      <li>
        <strong>Add videos to a stream</strong>
      </li>
      <li>
        <strong>Follow streams to discover great video</strong>
      </li>
    </ol>
    <p>
      <a href="http://moziy.com">moziy.com</a>
    </p>
  </body>
</html>
