<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Welcome to moziy.com, a new way to watch.</p>

    <p>There are 3 great ways to enjoy moziy.com:</p>

    <ol>
      <li>
        <strong>Create your own stream</strong>
        <p>
          Show off your knowledge of the fine arts, your passion for sports, or your deep appreciation of film noir. Maybe it’s just a collection of videos you like. All you have to do is gather your favorite clips from around the web.
        </p>
      </li>
      <li>
        <strong>Explore other streams</strong>
        <p>
          Browse the most popular list to discover curated streams hand built by passionate people like you. You can even log in with Facebook to watch the videos from your Facebook newsfeed.  Follow your favorite streams and share the videos you find.
        </p>
      </li>
      <li>
        <strong>Watch</strong>
        <p>
          Lean back, unwind, and enjoy your hand built moziy.com (in awesome full screen of course).
        </p>
      </li>
    </ol>
    <p>
      <a href="http://moziy.com">moziy.com</a>
    </p>
  </body>
</html>
