#video-manage
  = render :partial => 'manage/channels/channel_menu'
  - if @activities.blank?
    .empty No activity yet.
  - else
    %ul.activities
      - for activity in @activities
        = render partial: "manage/common/activities/#{activity.event_type}",
          locals: {activity: activity}

