#video-manage
  #viewer
  #main-content
    = render :partial => 'channel_menu'
    = render 'form'
    = link_to 'Delete this Channel', :method => :delete, :confirm => "Are you sure you want to delete #{@channel.title}?"
    
      
  