#video-manage
  = render :partial => 'manage/channels/channel_menu'
  = render :partial => 'manage/videos/form'
  - if @channel.airings.blank?
    %h1.empty
      Add cool videos to this stream to
      %br
      share them with your friends and followers.
  - else
    %ul.videos.items
      = render partial: 'manage/videos/video', collection: @channel.airings, as: :a
:javascript
  $(".videos").sortable({items: ".video", axis: "y", cursor: "move",
    update: function() {
      $.post("/me/channels/#{@channel.id}/videos/sort", "_method=put&"+ $(this).sortable("serialize"))
    }})
