- content_for :sidebar do
  = render :partial => 'manage/channels/channel_menu'
#video-manage
  -#.clearfix= link_to 'Trash', archived_manage_channel_videos_path(@channel), class: "secondary right"
  = render :partial => 'manage/videos/form'
  - if @channel.airings.any?
    %ul.videos.items
      = render partial: 'manage/videos/video', collection: @channel.airings, as: :a
  - else
    %h1.empty
      Add cool videos to this stream to
      %br
      share them with your friends and followers.
:javascript
  $(".videos").sortable({items: ".video", axis: "y", cursor: "move",
    update: function() {
      $.post("/me/channels/#{@channel.id}/videos/sort", "_method=put&"+ $(this).sortable("serialize"))
    }})
