<div id="video-actions">
  <div class="buttons clearfix">
    <div class="like-button like video-button action-button rounded">
      <i class="like big" />
      <br />
      like
    </div>
    <div class="restream-button restream video-button action-button rounded">
      <i class="restream big" />
      <br />
      restream
    </div>
  </div>
</div>
