<div class="choose-add-type">
  <div class="add-airing">
    Add Video
  </div>
  <div class="add-channel">
    Add Channel
  </div>
</div>
<div class="add-airing-body">
  <div class="header">Add Video</div>
  <div class="modal-body">
    <form>
      <textarea id="video-urls" name="video-urls"></textarea>
      <div class="button">add</div>
    </form>
    <div id="addable-channels" class="channel-list"></div>
  </div>
</div>
