<div class="choose-add-type">
  <div class="modal-header">
    Add +
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <div class="modal-body modal-no-padding clearfix">
    <div class="add-menu-item add-airing">
      Add Video
    </div>
    <a class="add-menu-item add-channel" href="/manage/channels/new">Add Channel</a>
  </div>
</div>
<div class="add-airing-body">
  <div class="header">
    Add Video
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
  </div>
  <form>
    <div class="modal-body">
        <fieldset>
          <label class="video-urls" for="video-urls">
            <span>Urls</span>
            <textarea id="video-urls" name="video-urls"></textarea>
          </label>
        </fieldset>
        <fieldset>
          <label class="channels">
            <span>Which Channel</span>
            <select name="channel_id"></select>
          </label>
        </fieldset>
    </div>
    <div class="modal-footer">
      <div class="button primary">add</div>
    </div>
  </form>
</div>
