<div class="channel-item">
  {{#if unread_count}}
    <span class="unread-count unread rounded">{{unread_count}}</span>
  {{/if}}
  <img src="{{cover_art.thumb_favicon.url}}" width=24 height=24 />
  <span class="slug">/{{slug}}</span>
</div>
