<div class="keys">
  <div class="row clearfix">
    <div id="controls-left" class="key unused"></div>
    <div id="controls-down" class="key"></div>
    <div id="controls-right" class="key"></div>
  </div>
  <div class="keyboard">keyboard controls</div>
</div>
