<div class="keys">
  <div class="row">
    <div id="controls-up" class="key unused"></div>
  </div>
  <div class="row">
    <div id="controls-left" class="key unused"></div>
    <div id="controls-down" class="key"></div>
    <div id="controls-right" class="key"></div>
  </div>
</div>
