<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<div class="header clearfix">
  {{ title }}
</div>
<div id="image-container">
  <img src="{{ image_url }}" width=100% />
</div>
