<form action="/invite" method="post">
  <div class="header modal-header">
    <div class="logo-moziy">moziy</div>
  </div>
  <div class="modal-body">

    <fieldset class="textbox">
      <label class="email">
        <span>Email</span>
        <input type="text" name="email" placeholder="email" />
      </label>
    </fieldset>
  </div>
  <div class="modal-footer">
    <fieldset class="with-submit">
      <button type="submit" class="button primary action-button">Send Invite</button>
    </fieldset>
  </div>
  </form>
</form>
