<div class="action-buttons">
  <div class="invite action-button button primary rounded">Sign Up for Moziy</div>
  <div class="login action-button button rounded">Login</div>
</div>
<div class="tagline">moziy is an exciting new way to save and discover videos</div>
