<div class="action-buttons">
  <div class="invite action-button button primary rounded">Request Invite to Moziy</div>
  <div class="login action-button button rounded">Login</div>
</div>
<div class="tagline">moziy is a fun new way to discover and share videos with your friends</div>
