<form action="/login" method="post">
  <div class="header modal-header">
    Login
  </div>
  <div class="modal-body">
    <fieldset class="textbox">
      <label class="email">
        <span>Username or Email</span>
        <input type="text" name="username" />
      </label>
      <label class="password">
        <span>Password</span>
        <input type="password" name="password" />
      </label>
    </fieldset>
  </div>
  <div class="modal-footer">
    <fieldset class="with-submit">
      <label class="remember">
        <input type="checkbox" value="1" name="remember" />
        <span> Remember Me </span>
      </label>
      <button type="submit" class="button primary">Login</button>
    </fieldset>
  </div>
  </form>
</form>
