<form action="/login" method="post">
  <div class="header modal-header">
    <div class="logo-moziy">moziy</div>
  </div>
  <div class="modal-body">

    <fieldset class="textbox">
      <label class="email">
        <span>Email</span>
        <input type="text" name="username" placeholder="email" />
      </label>
      <label class="password">
        <span>Password</span>
        <input type="password" name="password" placeholder="password" />
      </label>
    </fieldset>
    <a href="/password_resets/new">Forgot Password?</a>
  </div>
  <div class="modal-footer">
    <fieldset class="with-submit">
      <label class="remember">
        <input type="checkbox" value="1" name="remember" />
        <span> Remember Me </span>
      </label>
      <button type="submit" class="button primary action-button">Login</button>
    </fieldset>
  </div>
  </form>
</form>
