<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<div class="header clearfix">
  {{ title }}
</div>
<div id="image-container">
  <img src="{{ image_url }}" width=100% class="multi-image" />
</div>
<div class="footer">
  <div class="next-tip button primary">next tip →</div>
</div>
