<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<div class="header clearfix">
  <div class="airing-info">
    Notes for
    <span class="airing-title"></span>
  </div>
</div>
<div class="modal-body clearfix">
  <div id="notes-likes"></div>
  <div id="restreams-label" class="label">Restreams</div>
  <div id="notes-restreams"></div>
</div>
