<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<div class="header clearfix">
  <div class="airing-info">
    Notes for
    <span class="airing-title"></span>
  </div>
</div>
<div class="modal-body modal-no-padding clearfix">
  <form id="comment-form">
    <fieldset class="single-field">
      <label class="comment-body">
        <span>Comment</span>
        <textarea id="comment-body" placeholder="Say something..." autocomplete="off"></textarea>
      </label>
    </fieldset>
    <fieldset id="comment-submit-container" class="with-submit">
      <button id="comment-submit" type="submit" class="button primary">Post</button>
    </fieldset>
  </form>
  <div id="notes-restreams"></div>
</div>
