<h1 id="mosey" class="clearfix">
  <a href="/">mosey</a>
</h1>
<nav class="menu">
  <div id="top-banner" class="clearfix">
    <div class="top-menu-item add button primary action-button">
      <i class="add" />
      add
    </div>
    <div class="top-menu-item login">login</div>
    <div class="top-menu-item user dropdown">
      <div class="text dropdown-toggle" data-toggle="dropdown">
        <span class="name"></span>
        <span class="caret"></span>
      </div>
      <div class="sub-menu dropdown-menu" role="menu">
        <a href="/me/channels" class="sub-menu-item">dashboard</a>
        <a href="/settings" class="sub-menu-item">settings</a>
        <a href="/logout" class="sub-menu-item">logout</a>
      </div>
    </div>
  </div>
  <div id="remote-control-container"></div>
</nav>
