<h1 id="mosey" class="clearfix">
  <a href="http://www.moziy.com">mosey</a>
</h1>
<nav class="menu">
  <div class="top-menu-item login">login</div>
  <ul class="top-menu user">
    <li>
      <a href="/logout" class="sub-menu-item">
        <i class="logout size24" />
        logout
      </a>
    </li>
    <li><a href="/me/streams" class="sub-menu-item">
        <i class="dashboard size24" />
        dashboard
      </a>
    </li>
    <li><a href="/welcome" class="sub-menu-item">
      <i class="new-followers size24" />
      follow more
    </a></li>
    <li><a href="#" class="sub-menu-item channels-modal">
      <i class="arrow size24" />
      following list
    </a></li>
  </ul>
  <div id="remote-control-container"></div>
</nav>
