<h1 id="mosey" class="clearfix">
  <a href="/">mosey</a>
</h1>
<nav class="menu">
  <div id="top-banner" class="clearfix">
    <div class="button primary add">add</div>
    <div class="button login">login</div>
  </div>
  <ul id="channel-menu" class="clearfix">
    <li class="home menu-button active">home</li>
    <li class="explore menu-button">explore</li>
    <li class="me menu-button">me</li>
  </ul>
  <div id="channels-container">
    <ul class="channels"></ul>
  </div>
</nav>
