<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<div class="header clearfix">
  <div class="airing-info">
    Restream
    <span class="airing-title"></span>
  </div>
</div>
<div class="modal-body clearfix">
  <div id="restreamable-channels"></div>
</div>
