<div class="modal-header">
  <span class="title">{{title}}</spaN>
</div>
<div class="start modal-body">
  <div class="share-url">
    <strong>Share Url</strong>
    <input type="text" value="{{url}}" onclick="$(this).select()" />
  </div>
</div>
