.full-col
  = render :partial => 'channels/menu'
  %br
  %ul.videos
    - @channel.videos.each do |v|
      %li
        .title= v.title
        .actions
          = link_to 'edit', edit_channel_video_path(@channel, v)
          = link_to 'delete', [@channel, v], :method => :delete