- content_for :footer do
  :javascript
    var bootstrap = {
      currentUser: #{current_user_json(current_user.following_channels)},
      exploreChannels: #{@explore.as_json(methods: [:channel_subscribers_count]).to_json}
    };

  :javascript
    bootstrap.config = {
      followCount: #{5 - current_user.following_channels.count}
    };

  :javascript
    $(document).ready(function() {
      WelcomeApp.initialize(bootstrap);
    });
