%li.menu-item.channel.clearfix{:id => "channel_#{channel.id.to_s}", "data-channel-id" => channel.id.to_s}
  = link_to manage_channel_path(channel) do
    = image_tag channel.cover_art_url(:thumb_favicon), width: 16, height: 16
    = channel.title
