<div class="restream-title label">Restream onto</div>
<div class="restream-box">
  <div class="restream-details clearfix">
    <img class="restream-channel-cover-art" src="{{cover_art.thumb_list.url}}" width=80 height=80 />
    <div class="restream-channel-title">{{title}}</div>
    <div class="restream-channel-description">{{description}}</div>
  </div>
</div>
