<div class="header modal-no-padding clearfix">
  <img class="channel-image" width=48 height=48 src="{{cover_art.thumb_player.url}}" />
  <div class="channel-info">
    <div class="channel-title channel-play">
      {{title}}
      <div class="follower-count show-followers">
        <span class="count">{{channel_subscribers_count}}</span>
        <span class="label">Followers</span>
      </div>
    </div>
    <div class="channel-description">
      {{#if description}}
        {{description}}
      {{/if}}
    </div>
  </div>
</div>
<div class="follow-button button action-button">
  <span class="follow-text">
    <i class="follow-white" />
    follow
  </span>
  <span class="following-text">following</span>
  <span class="unfollow-text">unfollow</span>
</div>
