<ul id="channel-menu" class="clearfix">
  <li class="home menu-button active">following</li>
  <li class="explore menu-button">who to follow</li>
  <li class="me menu-button">me</li>
</ul>
<div id="channels-container">
</div>
