::-webkit-scrollbar {
width: 9px;
height: 9px;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
display: block;
height: 0;
background-color: transparent;
}
::-webkit-scrollbar-track-piece {
background-color: #FEFEFE;
-webkit-border-radius: 0;
-webkit-border-bottom-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
}
::-webkit-scrollbar-thumb:vertical {
height: 100px;
background-color: #EEE;
-webkit-border-radius: 8px;
}
::-webkit-scrollbar-thumb:horizontal {
width: 100px;
background-color: #EEE;
-webkit-border-radius: 8px;
}

.logo-moziy {
  display: block;
  text-indent: -9999px;
  width: 100px;
  height: 23px;
  background: image-url('moziy-logo.png') transparent top left no-repeat;
}

/*--- buttons*/
button,
.button {
  cursor: pointer;
  display: inline-block;
  background-color: #fff;
  background-repeat: no-repeat;
  padding: 5px 14px 6px;
  color: #333;
  font-size: 16px;
  line-height: normal;
  border: 0;
  -webkit-transition: 0.1s linear all;
  -moz-transition: 0.1s linear all;
  -ms-transition: 0.1s linear all;
  -o-transition: 0.1s linear all;
  transition: 0.1s linear all;

  span { display: none; }

  &.follow-button {
    .follow-text {
      display: inline-block;
    }
  }
}

.action-button {
  text-transform: uppercase;
  font-size: 12px;
  line-height: 48px;

  i {
    position: relative;
    top: 4px;
    left: -6px;
  }
}

.rounded {
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

.button.primary {
  background: #04BBF5;
  color: #fff;
}

.button:hover {
  background-position: 0 -15px;
  color: #333;
  text-decoration: none;

  &.primary {
    color: #fff;
  }
}

.button:active {
  font-weight: normal;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}

.follow-button {
  span {display: none;}
  span.follow-text {display: inline-block;}
  &.following {
    span.follow-text {display: none;}
    span.following-text {display: inline-block;}
  }
}
/*--- forms*/

form.button_to {
  margin: 0 !important;
  padding: 0 !important;

  input[type=submit] {
    padding: 0;
    border: 0;
    background: none;
    cursor: pointer;
  }
}

.field {
  margin-bottom: 20px;

  input[type=text],
  input[type=password],
  input[type=email],
  textarea {
    background: white;
    color: black;
    padding: 5px;
    border: none;
    width: 350px;
    font-size: 13px;
    border: 1px solid #999;
  }

  textarea {
    height: 50px;
  }
}

.fields {
  margin-bottom: 60px;
}


#composer {
  margin-bottom: 20px;
}


i {
  display: inline-block;
  width: 18px;
  height: 18px;

  &.restream {
    background: transparent image-url("icons/left_sprite.png") top center no-repeat;
  }

  &.add {
    background: transparent image-url("icons/plus_sprite_white.png") top center no-repeat;
  }

  &.like {
    background: transparent image-url("icons/heart_sprite.png") top center no-repeat;
  }

  &.follow {
    background: transparent image-url("icons/restream_sprite_white.png") top center no-repeat;
  }
}

.icon-on {
  i {
    &.restream {
      background: transparent image-url("icons/restream_sprite.gif") bottom center no-repeat;
    }
  }
}


.info {
  position: absolute;
  height: 20px;
  padding: 0 10px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  .actions {
    float: right;
  }
}

.body {
  overflow: hidden;
}

.username {
  font-size: .85em;
  color:#ccc;
  a {
    color:#ccc;
    font-weight: bold;
  }
}

