::-webkit-scrollbar {
width: 9px;
height: 9px;
}
::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {
display: block;
height: 0;
background-color: transparent;
}
::-webkit-scrollbar-track-piece {
background-color: #FEFEFE;
-webkit-border-radius: 0;
-webkit-border-bottom-right-radius: 8px;
-webkit-border-bottom-left-radius: 8px;
}
::-webkit-scrollbar-thumb:vertical {
height: 100px;
background-color: #FAFAFA;
-webkit-border-radius: 8px;
}
::-webkit-scrollbar-thumb:horizontal {
width: 100px;
background-color: #FAFAFA;
-webkit-border-radius: 8px;
}

/*--- forms*/

.field {
  margin-bottom: 20px;

  input[type=text],
  input[type=password],
  input[type=email],
  textarea {
    background: white;
    color: black;
    padding: 5px;
    border: none;
    width: 350px;
    font-size: 13px;
    border: 1px solid #999;
  }

  textarea {
    height: 50px;
  }
}

.fields {
  margin-bottom: 60px;
}


#composer {
  margin-bottom: 20px;
}


.info {
  position: absolute;
  height: 20px;
  padding: 0 10px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  .actions {
    float: right;
  }
}

.body {
  overflow: hidden;
}

.username {
  font-size: .85em;
  color:#ccc;
  a {
    color:#ccc;
    font-weight: bold;
  }
}

