#flipside {
  padding: 0;
  margin: 0;
  overflow-y: hidden;

  form {
    padding: 10px;
  }

  #register {
    margin: 50px auto 0;

    h2 {
      text-align: center;
      font-weight: bold;
    }

    form {
      margin: 20px auto 0;
      width: 230px;

      label {
        font-weight: bold;
      }

      input[type=text],
      input[type=password],
      input[type=email] {
        display: inline-block;
        width: 210px;
        height: 18px;
        padding: 4px;
        font-size: 13px;
        line-height: 18px;
        color: gray;
        border: 1px solid #CCC;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
      .actions {
        text-align: left;
      }
    }
  }

  .session {
    float: right;

    li {
      margin-left: 20px;
      margin-right: 0px;
    }
  }

  .container {
    width: 960px;
    margin: 0 auto;
  }
  header {
    padding: 30px 0;

    h1 {
      float: left;
      font-weight: bold;
      font-size: 100%;
      margin: 0;
      margin-right: 20px;

      a {
        text-indent: -9999px;
        display: block;
        width: 93px;
        padding-right: 0;
        height: 25px;
        background: image-url('mosey-logo.png');
      }

    }

    nav {
      float: left;

      &.menu {

      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          float: left;
          margin-left: 0px;
          margin-right: 20px;

          .button {
            position: relative;
            top: -4px;
            text-decoration: none;
          }
        }
      }
    }
  }

  section#sidebar {
    float: left;
    width: 200px;

    .sidebar-menu {
      padding: 0;
      margin: 0 0 30px;
      list-style-type: none;
      border: 1px solid #ddd;

      li {
        border-top: 1px solid #ddd;
        margin: 0;

        &:first-child {
          border-top: 0;
        }

        a {
          display: block;
          text-decoration: none;
          font-weight: bold;
          line-height: 16px;
          padding: 10px;

          img {
            display: block;
            float: left;
            margin-right: 10px;
          }
        }
      }
    }
  }




  section#main-content {
    margin-left: 200px;
    padding-left: 30px;
    overflow-y: hidden;

    form {
      padding: 10px;
    }

    #secondary-title {
      list-style: none;
      padding: 12px 0 8px;
      margin: 0;
      font-size: 2.0em;
    }

    #secondary-menu {
      float: right;
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        float: left;
        margin: 0;
        position: relative;
        top: -1px;

        a {
          display: block;
          padding: 10px 15px;
          text-decoration:none;
        }
      }

      li.active, li:hover {
        a {
          color: #fff;
          background: #282828;
        }
      }
    }

    #add-video {
      position: relative;
      margin: 20px 0;
      padding: 10px;
      height: 24px;
      border: 1px solid #ccc;

      label {
        display: none;
      }

      textarea {
        border: 0;
        width: 100%;
        font-size: 18px;
        height: 24px;
        line-height: 24px;
        outline: none;
      }

      .button {
        border: 0;
        margin: 0;
        padding: 0 20px;

        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        text-align: center;
      }
    }

    .channels, .videos {
      padding: 0;

      li {
        margin: 0 0 10px 0;
        list-style: none;
      }
    }

    iframe {
      display: block;
      width: 730px;
      height: 540px;
    }


    .channels, .videos {
      margin: 0px;
      border: 1px solid #ddd;

      .actions {
        display: none;
        position: absolute;
        top: 10px;
        right: 5px;
      }

      #channel-manage .channel a .action {float: right;}
      .action {cursor:pointer; width: 25px; text-align: center;}
      .action {height:24px; width:24px; display:inline-block; background-repeat: no-repeat;}
      .action.star {background: image-url("icons/star_fav_empty.png") center center no-repeat;}
      .action.star:hover {background: image-url("icons/star_fav_prompt.png") center center no-repeat;}
      .action.edit, .favorited .action.edit, .load .action.edit {background: image-url("icons/cog.png") center center no-repeat !important; opacity: .5;}
      .action.edit:hover, .favorited .action.edit:hover {opacity: 1;}
      .load .action.star {background: image-url("icons/ajax-loader.gif") center center no-repeat !important}
      .favorited .action.star {background: image-url("icons/star_fav.png") center center no-repeat;}
      .favorited .action.star:hover {background: image-url("icons/star_fav_warn.png") center center no-repeat;}
      .action.expand {background: image-url("icons/expand.png") center center no-repeat; opacity: .6;}
      .action.expand:hover {opacity: 1;}
      .action.trash {background: image-url("icons/star_fav_warn.png") center center no-repeat;}

      .liked-video {
        background-color: #fff;
        border-bottom: 1px solid #E6E6E6;
        margin: 0;
        padding: 0;

        .title {
          font-size: 16px;
          padding-top: 15px;
        }

        .image {
          float: left;
          display: block;
          height: 80px;
          width: 80px;
          margin-right: 20px;
        }
      }

      .video, .video:hover {
        padding: 10px 10px 10px 29px;
        background-color: #fff;
        border-bottom: 1px solid #E6E6E6;
        position: relative;
        margin-bottom: 0px;
        cursor: move;


        &.archived {
          background-color: #ddd;
          text-decoration: strike-through;
          a {
            color: #666;
          }
        }
      }

      .video:hover {
        background: image-url("icons/cursor_drag_arrow.png") 6px center no-repeat;

        .actions {
          display: block;
        }
      }

      .video.ui-sortable-helper {
        border: 1px solid #999;
      }

      li.channel {
        position: relative;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #E6E6E6;

        &:nth-child(even) { background: #F6F6F6 }

        &:hover {
         background: #efefef;
        }

        &.previewing {
          background: #e7e7e7;
          border-top: 1px solid white;
        }

        .coverart {
          width: 48px;
          height: 48px;
          float: left;
          padding-right: 10px;
        }
        .content {
          overflow: hidden;
          margin-right: 30px;

          .title { font-weight:bold;}
          .description {color: #666;}
          .user {color: #999; font-weight: 300;}
        }
        .count, .nowplaying {
          color: #999;
        }
        .watch {
          float: right;
        }
      }
    }
  }
}
