#flipside {

  
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  
  form {
    padding: 10px;
  }
  
  .session {
    float: right;
    
    li {
      margin-left: 20px;
      margin-right: 0px;
    }
  }
  header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    z-index: 10;
    
    h1 {
      float: left;
      font-weight: bold;
      font-size: 100%;
      margin: 0;
      margin-right: 20px;


      a {
        text-indent: -9999px;
        display: block;
        width: 93px;
        padding-right: 0;
        height: 25px;
        background: image-url('mosey-logo.png');
      }

    }
  
    nav {
      float: left;

      &.menu {

      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          float: left;
          margin-left: 0px;
          margin-right: 20px;

          a {
            padding: 0;
            
          }
          
          &.active {
            font-weight: bold;
          }
        }
      }
    }
  }
  
  section#content {
    position: absolute;
    top: 40px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  
  #video-manage {
    #main-content {
      position: absolute;
      overflow-x:hidden;
      top: 0px;
      right: 0px;
      left: 60%;
      bottom: 0px;
      overflow-y: scroll;
      background: #fff;
    }
    
    #viewer {
      position: absolute;
      z-index: 5;
      top: 0px;
      bottom: 0px;
      right: 40%;
      left: 0;
      overflow:hidden;
      background: image-url('mosey-logo.png') black no-repeat center center;
    }
  }
  
  #channel-manage {
    #main-content {
      position: absolute;
      top: 0px;
      right: 60%;
      left: 0;
      bottom: 0px;
      z-index: 5;
      overflow-x:hidden;
      overflow-y: scroll;
      background: #fff;
    }
    
    #viewer {
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0;
      left: 40%;
      overflow:hidden;
      background: image-url('mosey-logo.png') black no-repeat center center;
    }
  }
  
  #main-content {
    overflow-y: scroll;
    
    form {
      padding: 10px;
    }
    
    #secondary-menu {
     list-style: none;
     padding: 10px 10px;
     margin: 0;
     background: #333;
     
     li {
      float: left;
      margin: 0px 10px 0 0;
      
      a {
        color: white;
      }
     }
     
    }
    
    .channels, .videos {
      padding: 0;

      li {
        margin: 0 0 10px 0;
        list-style: none;
      }
    }

    
    .channels, .videos {
      margin: 0px;
      
      li {
        margin: 0;
        padding: 10px;
        
        &:nth-child(even) { background: #F6F6F6 }
        &.color1 {}
        
        &:hover {
         background: #efefef; 
        }
        
        .coverart {
          width: 48px;
          height: 48px;
          float: left;
          padding-right: 10px;
        }
        .content {
          
          .title { font-weight:bold;}
          .user {color: #999; font-weight: 300;}
          
        }
        .count {
          color: #999;
        }
        .nowplaying {
          color: #999;
        }
        
        .actions {
          a {
            color: #999;
            padding: 0;
            margin-right: 10px;
          }
        }
        
        .star {
          float: right;
        }
        
        a {
          padding: 2px 5px;
        }
      }
    }
  }

}