#flipside {

  
  padding: 0;
  margin: 0;
  overflow-y: hidden;
  
  form {
    padding: 10px;
  }
  
  #register {
    margin: 50px auto 0;
    h2 {
      text-align: center;
      font-weight: bold;
    }
    form {
      margin: 20px auto 0;
      width: 230px;
      
      label {
        font-weight: bold;
      }
      input[type=text],
      input[type=password],
      input[type=email] {        
        display: inline-block;
        width: 210px;
        height: 18px;
        padding: 4px;
        font-size: 13px;
        line-height: 18px;
        color: gray;
        border: 1px solid #CCC;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
      }
      .actions {
        text-align: left;
      }
    }
  }
  
  .session {
    float: right;
    
    li {
      margin-left: 20px;
      margin-right: 0px;
    }
  }
  header {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    height: 20px;
    padding: 10px;
    border-bottom: 1px solid #ccc;
    z-index: 10;
    
    h1 {
      float: left;
      font-weight: bold;
      font-size: 100%;
      margin: 0;
      margin-right: 20px;


      a {
        text-indent: -9999px;
        display: block;
        width: 93px;
        padding-right: 0;
        height: 25px;
        background: image-url('mosey-logo.png');
      }

    }
  
    nav {
      float: left;

      &.menu {

      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          float: left;
          margin-left: 0px;
          margin-right: 20px;
          
          .button {
            position: relative;
            top: -4px;
            text-decoration: none;
          }
        }
      }
    }
  }
  
  section#content {
    position: absolute;
    top: 40px;
    bottom: 0px;
    right: 0px;
    left: 0px;
  }
  
  #video-manage {
    #main-content {
      position: absolute;
      overflow-x:hidden;
      top: 0px;
      right: 0px;
      left: 60%;
      bottom: 0px;
      overflow-y: scroll;
      background: #fff;
    }
    
    #viewer {
      position: absolute;
      z-index: 5;
      top: 0px;
      bottom: 0px;
      right: 40%;
      left: 0;
      overflow:hidden;
      background: image-url('mosey-logo.png') black no-repeat center center;
    }
  }
  
  #channel-manage {
    #main-content {
      position: absolute;
      top: 0px;
      right: 60%;
      left: 0;
      bottom: 0px;
      z-index: 5;
      overflow-x:hidden;
      overflow-y: scroll;
      background: #fff;
    }
    
    #viewer {
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 0;
      left: 40%;
      overflow:hidden;
      background: image-url('mosey-logo.png') black no-repeat center center;
    }
  }
  
  #main-content {
    overflow-y: scroll;
    
    form {
      padding: 10px;
    }
    
    #secondary-title {
      list-style: none;
      padding: 12px 10px 8px;
      margin: 0;
      background: #444;
      border-bottom: 1px solid #2D2D2D;
      color: #eee;
      font-size: 1.3em;
    }
    
    #secondary-menu {
      border-top: 1px solid #3d3d3d;
      list-style: none;
      margin: 0;
      background: #333;
      padding: 0;
     
      li {
        float: left;
        margin: 0;
        position: relative;
        top: -1px;
        a {
          display: block;
          color: #fff;
          padding: 10px 15px;
          text-decoration:none;
        }
      }
      
      li.active, li:hover {
       a {
          background: #282828;
        }
      }
    }
    
    .channels, .videos {
      padding: 0;

      li {
        margin: 0 0 10px 0;
        list-style: none;
      }
    }

    
    .channels, .videos {
      margin: 0px;
      
      .actions {
        position: absolute;
        top: 5px;
        right: 5px;
        width: 50px;
        a {
          margin-right: 0;
          display: block;
          float: right;
        }
      }
      
      #channel-manage .channel a .action {float: right;}
      .action {cursor:pointer; width: 25px; text-align: center;}
      .action {height:24px; width:24px; display:inline-block; background-repeat: no-repeat;}
      .action.star {background: image-url("icons/star_fav_empty.png") center center no-repeat;}
      .action.star:hover {background: image-url("icons/star_fav_prompt.png") center center no-repeat;}
      .action.edit, .favorited .action.edit, .load .action.edit {background: image-url("icons/cog.png") center center no-repeat !important; opacity: .5;}
      .action.edit:hover, .favorited .action.edit:hover {opacity: 1;}
      .load .action.star {background: image-url("icons/ajax-loader.gif") center center no-repeat !important}
      .favorited .action.star {background: image-url("icons/star_fav.png") center center no-repeat;}
      .favorited .action.star:hover {background: image-url("icons/star_fav_warn.png") center center no-repeat;}
      .action.expand {background: image-url("icons/expand.png") center center no-repeat; opacity: .6;}
      .action.expand:hover {opacity: 1;}
      .action.trash {background: image-url("icons/star_fav_warn.png") center center no-repeat;}
      
      
      .video, .video:hover {
        padding: 10px 10px 10px 36px;
        background: image-url("icons/cursor_drag_arrow.png") 10px center no-repeat;
        border-bottom: 1px solid #E6E6E6;
        position: relative;
        margin-bottom: 0px;
        cursor: move;
      }
      
      li.channel {
        position: relative;
        margin: 0;
        padding: 10px;
        border-bottom: 1px solid #E6E6E6;
        
        &:nth-child(even) { background: #F6F6F6 }
        
        &:hover {
         background: #efefef; 
        }
        
        &.previewing {
          background: #e7e7e7;
          border-top: 1px solid white;
        }
        
        .coverart {
          width: 48px;
          height: 48px;
          float: left;
          padding-right: 10px;
        }
        .content {
          overflow: hidden;
          margin-right: 30px;
          
          .title { font-weight:bold;}
          .description {color: #666;}
          .user {color: #999; font-weight: 300;}
          
        }
        .count, .nowplaying {
          color: #999;
        }
        .watch {
          float: right;
        }
        
        
      
      }
    }
  }

}