/*
 *= require_self
 *= require typo
*/

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
  padding: 0;
  margin: 0;
  font-size: 13px;
}

a {
  color: #04BBF5 !important;
}

iframe {
  width: 100%;
  max-height: 50%;
  display: block;
  padding: 0;
  margin: 0;
}

header,
section,
footer {
  padding: 20px;
  border-top: 1px solid #eee;
}

section { padding: 20px; }

footer { text-align: center; padding: 20px; border-top: 1px solid #eee; }

.tagline { position: relative; top: -6px;}

.title {
  padding: 20px;
  font-size: 16px;
  border-bottom: 1px solid #eee;
}

.share-items {
  padding: 15px 10px;
}

.share-item {
  float: left;
  display: block;
  padding: 10px;
}

.social-share-item {
  width: 150px;
  overflow: hidden;
}

.link-share {
  width: 29px;
  margin-top: 5px;
}

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}

label {
  display: block;
}

input[type=text],
input[type=password] {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  margin-bottom: 20px;
}

input[type=submit] {
  padding: 10px 20px;
  background: #04BBF5 !important;
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  border: 0;
  -webkit-appearance: none;
  width: 100%;
}

.actions {
  padding: 20px 0;
}
