body {
  overflow: hidden;
}

#header {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  padding: 10px;
  height: 25px;
  z-index: 5;
  background: white;
  
  .container {position: relative; padding: 0;}
  
}


#player, .player, .mask {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 0;
}

.player {
  display: none;
}

.mask {
  z-index: 1;
}

#main-menu {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 150px;
  bottom: 0px;

  h1 {
    float: left;
    font-weight: bold;
    font-size: 100%;
    margin: 0;
    margin-right: 20px;
    
    
    a {
      padding: 5px 10px;
      text-indent: -9999px;
      display: block;
      width: 93px;
      padding-right: 0;
      height: 25px;
      background: image-url('mosey-logo.png') rgba(255,255,255, 1) center center no-repeat;
    }
    
  }
  
  .channels {
    display: none;
    
    li {
      float: none;
      margin: 0;
      .count {
        color: #999;
      }
      a {
        display: block;
        padding: 2px 5px;
        color: white;
        &.color0 { background: #333;}
        &.color1 { background: #333;}
        &.color2 { background: #333;}

      }
    }
  }
}

#info {
  position: absolute;
  
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  overflow: hidden;
  
  .title {
    display: block;
    display: none;
    float: left;
    background: #ffffff;
    padding: 3px 10px;
    height: 19px;
    margin-left: 10px;
  }
  
  #channel-menu {
    display: block;
    float: left;
    
    a {
      display: block;
      float: left;
      padding: 0 15px;
      background: white;
      color: black;
      height: 25px;
      font-size: 16px;
      text-decoration: none;
      
      &.hover {
        background: black;
        color: white;
      }
    }
    
  }

  .actions {
    float: right;
  }
}