#stage {
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  
  #header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    height: 25px;
    z-index: 5;
    background: white;

    .container {position: relative; padding: 0;}

  }

  #player {
    background: image-url('mosey-logo.png') black no-repeat center center;
  }
  #player, .player, .mask {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    overflow:hidden;
    
  }

  .player {
    display: none;
  }

  .mask {
    z-index: 1;
  }

  #main-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 175px;
    bottom: 0px;
    
    
    #mosey {
      font-weight: bold;
      font-size: 100%;
      margin: 5px;

      a {
        float: left;
        padding: 5px 10px;
        text-indent: -9999px;
        display: block;
        width: 93px;
        padding-right: 0;
        height: 23px;
        background: image-url('mosey-logo.png') transparent center center no-repeat;
      }

    }
    
    
    nav.menu {
      display: none;
    }

    
    #channels-container {
      position: absolute;
      top: 77px;
      left: 0;
      right: 0;
      bottom: 220px;
      overflow-y: scroll;
    }
    
    &.hover {
      background: white;
      border-right: 1px solid #ccc;
      
      nav.menu {
        display: block;
      }
    }


    
    h2 {
      clear: both;
      padding: 0 10px;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 5px;
    }
    
    .main-action {
      a {
        border-top: 1px solid #666;
        display: block;
        padding: 7px 10px;
        background: #333; 
        color: white;
      }
    }
    

    .channels {
      margin-top: 10px;
      margin-bottom: 20px;
      padding: 0;
      display: none;

      li {
        list-style: none;
        padding: 4px 10px;
        float: none;
        margin: 0;
        
        .count {
          color: #999;
        }
        
        .icon {
          position: relative;
          top: 1px;
          float: left;
          padding-right: 5px;
        }
        
        .title {
          white-space:nowrap;
          margin-left: 21px;
        }
        
        a {
          display: block;
          
          color: #000;
          font-size: 12px;
          &.color0 { background: #333;}
          &.color1 { background: #333;}
          &.color2 { background: #333;}

        }
      }
    }
  }

  #actions {
    position: absolute;
    top: 0;
    right: 0;
    width: 200px;
    height: 100px;
    z-index: 5;
    
    &:hover  {
      .mark {display: none;}
    }
    
    .mark {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 20px;
      line-height: 20px;
      padding: 3px 18px;
      font-weight: bold;
      color: #999;
    }
    
    
    
    .buttons {
      display: none;
      list-style: none;
      padding: 0px;
      margin: 0px;
      
      li {
        margin: 0;
        background: white;
        float: right;
        width: 100px;
      }
      
      a, .reair-button {
        display: block;
        padding: 5px 10px;
        text-decoration: none;
        color: black;
        &:hover {
          background: black;
          color: white;
        }
      }
      
      .reair-actions {
        position:relative;
        width: 100px;
        margin: 0px;
        padding: 0px;
        list-style: none;
        
        &:hover {
          .reair-button {
            background: black;
            color: white;
          }
        }
        
        ul {
          display: none;
          position: absolute;
          border-top: 1px solid #000;
          left: 0px;
          top: 100%;
          width: 150px;
          list-style: none;
          margin: 0;
          padding: 0;
          border-right: 1px solid #999;
          
          li {
            background: white;
            width: 150px;
            display: block;
            margin: 0px;
          }
        }
        
        &:hover {
          ul {display: block;}
        }

      }
      
      
    }

  }

  #now-playing {
    position: absolute;
    color: black;
    height: 240px;
    bottom: 0px;
    left: 0px;
    right: 0px;
  
    #coverart {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      height: 175px;
      border-top: 1px solid #ccc;
    }
    
    #channel-info {
      position: absolute;
      border-top: 1px solid #ccc;
      background: #efefef;
      height: 45px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      padding: 10px 0px;
    }
    .title {
      font-size: 11px;
      height: 19px;
      margin: 0 10px;
    }

    #channel-title {font-weight: bold;}
  }
  
}
