#stage {
  overflow: hidden;
  padding: 0px;
  margin: 0px;

  .label { color: #999; font-size: 12px; }

  #notes-modal {
    .header {
      padding: 15px;
      font-size: 16px;
    }
    #restreams-label {
      padding: 0 15px 15px;
    }
    .restream-item {
      cursor: pointer;
      padding: 15px;

      &:hover {
        background: #efefef;
      }

      .restream-channel-cover-art {display: block; float: left; margin-right: 10px;}
      .restream-channel-title {font-weight: bold}
    }
  }

  #restream-modal {
    .channel-item {
      border-top: 1px solid #eee;

      img {
        float: left;
        margin-right: 10px;
      }

      .channel-title {
        font-size: 16px;
        line-height: 48px;

        &:hover {
          background: #fafafa;
        }
      }
    }
  }
  .modal {
    .header {
      padding: 15px;
      font-size: 16px;
    }
  }

  #channel-modal {
    .channel-image {float:left;}
    .channel-info {
      text-align: center;
      .channel-title {font-size: 33px; font-weight: bold;padding-top: 15px}
      .channel-description {font-size: 16px;}
    }
    .action-bar {
      .part1 {float: left; width: 30%; border-right: 1px solid #eee;}
      .part2 {float: left; width: 45%; border-right: 1px solid #eee;}
      .part3 {float: left; width: 24%;}
    }

    .slug,
    .count,
    .follow-button {font-weight: bold}

    .channel-slug,
    .follower-count,
    .follow-button {padding: 10px}

    .watch-button {
      cursor: pointer;
    }

    .follow-button {
      cursor: pointer;
      margin: 5px;
      padding: 13px;
      text-align: center;
      color: white;
      background: green;

      &:hover {
        background: black;
      }
    }

    .action-bar {border-top: 1px solid #eee;}
    .now-playing {border-top: 1px solid #eee; padding: 20px;}

  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
  }

  .modal-backdrop.fade {
    opacity: 0;
  }

  .modal-backdrop,
  .modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }

  .modal {
    position: fixed;
    top: 10%;
    left: 50%;
    z-index: 1050;
    width: 480px;
    margin-left: -240px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    -webkit-border-radius: 6px;
       -moz-border-radius: 6px;
            border-radius: 6px;
    outline: none;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
  }

  .modal.fade {
    top: -25%;
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
         -o-transition: opacity 0.3s linear, top 0.3s ease-out;
            transition: opacity 0.3s linear, top 0.3s ease-out;
  }

  .modal.fade.in {
    top: 10%;
  }

  #alert{
    position: absolute;
    background: rgba(255,255,255,.3);
    text-align: center;
    z-index: 100000;
    top: 125px;
    left: 50%;
    width: 300px;
    margin-left: -150px;
    padding: 50px;
    font-size: 24px;
  }

  #header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    height: 25px;
    z-index: 5;
    background: white;

    .container {position: relative; padding: 0;}
  }

  #mute {
    position: absolute;
    top: 35px;
    right: 10px;
    width: 24px;
    height: 24px;
    z-index: 10;
    background: image-url('icons/sound_mute.png') transparent no-repeat center center;

    &.on {
      background: image-url('icons/sound_on.png') transparent no-repeat center center;
    }
    &.chromeless {
      top: 15px;
    }
  }

  #player {
    background: image-url('mosey-logo.png') black no-repeat center center;
  }

  #player, .player, .mask {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    overflow:hidden;
  }

  .player {
    display: none;
  }

  .mask {
    z-index: 1;
  }

  #remote-control-pane {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 400px;
    bottom: 0px;

    #mosey {
      font-weight: bold;
      font-size: 100%;
      margin: 8px;

      a {
        float: left;
        padding: 5px 10px;
        text-indent: -9999px;
        display: block;
        width: 93px;
        padding-right: 0;
        height: 23px;
        background: image-url('mosey-logo.png') transparent center center no-repeat;
      }
    }

    nav.menu {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
    }

    #top-banner {
      height: 48px;
      .button {float: right;}
    }

    #channel-menu {
      margin: 0;
      padding: 0;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;

      li {
        float: left;
        font-weight: bold;
        margin-right: -1px;
        border-right: 1px solid #eee;
        text-align: center;
        cursor: pointer;
        width: 33%;
        padding: 15px 0;
        margin: 0;
        list-style-type: none;

        &:hover {
          background: #fafafa;
        }
        &:last-child {
          border-right: 0;
        }
      }
    }

    #channels-container {
      position: absolute;
      top: 99px;
      left: 0;
      right: 0;
      bottom: 0px;
    }

    &.hover {
      background: white;
      border-right: 1px solid #ccc;

      nav.menu {
        display: block;
      }
    }

    h2 {
      clear: both;
      padding: 0 10px;
      font-size: 13px;
      font-weight: bold;
      margin-bottom: 5px;
    }

    .main-action {
      a {
        border-top: 1px solid #666;
        display: block;
        padding: 7px 10px;
        background: #333;
        color: white;
      }
    }

    .channels {
      display: none;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow-y: scroll;
      overflow-x: hidden;

      li {
        cursor: pointer;
        list-style: none;
        float: none;
        margin: 0;
        border-bottom: 1px solid #eee;

        .count {
          color: #999;
        }

        .icon {
          position: relative;
          float: left;
          padding-right: 10px;

          .unread-count {
            position: absolute;
            top: 0;
            left: 0;
            padding: 2px 4px;
            background: #000;
            color: #fff;
          }
          img {display: block; width: 64px; height: 64px}
        }

        .title {
          white-space:nowrap;
          font-weight: bold;
          font-size: 14px;
          padding-top: 3px;
          text-overflow: ellipsis;
          margin-left: 21px;

          .slug {
            color: #999;
            font-size: 12px;
            font-weight: normal;
          }
        }

        .description {
          font-style: italic;
        }

        a {
          color: #000;
          text-decoration: none;
          font-size: 12px;
          &.color0 { background: #333;}
          &.color1 { background: #333;}
          &.color2 { background: #333;}
        }
      }
    }
  }

  #current-pane-target-zone {
    position: absolute;
    width: 320px;
    top: 0;
    bottom: 0;
    right: 0;

    .mark {
      position: absolute;
      top: 0px;
      right: 0px;
      font-size: 20px;
      line-height: 20px;
      padding: 3px 18px;
      font-weight: bold;
      color: #999;
    }
  }

  #current-pane {
    display: none;
    position: absolute;
    margin: 10px;
    width: 300px;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
  }

  #now-playing {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    text-transform: lowercase;
    padding: 7px 15px;
    border-bottom: 1px solid #fafafa;
    background: #fff;
  }

  #currently-playing {
    background: #fff;

    #video-info {
      font-size: 16px;
      padding: 15px;
      background: #fff;
    }

    #video-actions {
      position: absolute;
      width: 60px;
      left: -60px;
      border-right: 1px solid #eee;

      .video-button {
        cursor: pointer;
        display: block;
        text-transform: uppercase;
        font-size: 10px;
        color: #666;
        text-align: center;
        line-height: 60px;
        height: 60px;
        border-bottom: 1px solid #eaeaea;
        background: #fff;

        &:hover {
          background: #efefef;
        }
      }
    }

    .meta {
      #video-parent {
        float: left;
        border-left: 1px solid #eee;
        padding: 10px;
        a {font-weight: bold}
      }
      #video-notes {
        float: right;
        cursor: pointer;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 13px;
        padding: 10px;
        width: 60px;
      }
    }
  }

  #current-channel {
    color: black;
    background: #efefef;

    #current-channel-info {
      text-align: center;
      padding: 30px 0;
    }

    #current-channel-title {
      font-weight: bold;
      font-size: 16px;
      height: 19px;
      padding: 10px;
    }
    #current-channel-follow {
      padding: 10px;
      border-top: 1px solid #ddd;
      line-height: 27px;
      #current-channel-actions {
        float: right;
      }
    }
    #current-channel-owner {
      padding: 10px;
    }
  }
}
