#welcome {
  padding: 0;
  margin: 0;

  .text-flash {
    color: #000;
    transition: color .75s linear;
    -moz-transition: color .75s linear;    /* FF3.7+ */
    -o-transition: color .75s linear;      /* Opera 10.5 */
    -webkit-transition: color .75s linear; /* Saf3.2+, Chrome */

    &.blue {
      color: #04BBF5;
    }
  }


  #main-content.pin-top-bar {
    margin-top: 81px;
  }


  header {
    padding: 60px 0;

    .title > h1 {
      padding: 0;
      margin: 0;
      margin-top: 20px;
      text-align: center;

      img {
        margin-right: 15px;
      }
    }

    .title > h2 {
      text-align: center;
      font-weight: 400;
      padding: 0;
      margin: 0;
      color: #777;
    }
  }

  #next {
    text-align: center;

    .action-button {
      padding-left: 30px;
      padding-right: 30px;
      font-size: 16px;
    }

    h1 {
      display: none;
    }

    #next-message {
      text-align: center;
      font-weight: bold;
      padding: 0 30px;
      font-size: 24px;
    }

  }

  .pin-top-container {
    height: 48px;
    padding: 60px 50px 20px;
  }


  .pin-top-bar #next {
    text-align: left;
    position: fixed;
    width: 100%;
    left: 0;
    top: 0;
    background: #fff;
    color: #000;
    border-bottom: 1px solid #ddd;
    z-index: 10;
    text-align: center;
    padding: 10px 0;

    h1 {
      position: absolute;
      left: 0;
      display: block;
      line-height: 48px;
      margin: 10px 20px;
    }

    #next-message {
      margin: 20px;
    }

    #next-button {
      float: right;
      margin-right: 20px;
    }
  }

  #find-friends {
    text-align: center;
  }

  #channel-list,
  .welcome-channel-list {
    text-align: center;
    padding: 0 20px;
    width: 90%;
    padding-bottom: 35px;
    margin: 0 auto;

    li {
      display: inline-block;
      width: 415px;
      margin-right: 30px;
      margin-bottom: 30px;
      border: 1px solid #ddd;

      .header {
        height: 150px;
      }

      .follow-button {
        border-top: 1px solid #ddd;
        width: 100%;
        text-align: center;
        padding: 0;

        &.following {
          color: #04BBF5;
          background: #eee;
        }

        &:hover {
          color: #000;
          background: #ddd;
        }
      }

      .email {
        text-align: left;
        font-size: 12px;
        padding: 5px 10px;
        color: #999;
        border-bottom: #ccc;
        background: #fafafa;
      }

      .channel-info {
        text-align: left;
        margin-right: 15px;

        .channel-slug {
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 0;
          padding-top: 10px;
          padding-bottom: 5px;
        }

        .channel-description {
          color: #777;
          font-size: 13px;
          line-height: 18px;
        }

        img {
          float: left;
          margin-right: 20px;
        }
      }
    }
  }

  #add-videos {
    #video-list {
      margin-top: 30px;
      margin-right: -30px;

      .video-card {
        width: 300px;
        margin-right: 30px;

        img {
          display: block;
        }

        p.title {
          font-weight: bold;
          margin: 5px 0;
        }

      }
    }
  }

  .welcome-loader {
    text-align: center;

    .loader {
      display: inline-block;
      width: 150px;
      height: 14px;
      background: image-url("welcome/loader.gif") no-repeat center;
    }

    .loader-caption {
      margin: 30px;
      font-size: 24px;
    }

    .loader-actions {
      text-align: center;
      margin: 20px 0;
    }
  }

  section#sidebar {
    float: left;
    width: 200px;

    .sidebar-menu {
      padding: 0;
      margin: 0 0 30px;
      list-style-type: none;
      border: 1px solid #ddd;

      li {
        border-top: 1px solid #ddd;
        margin: 0;

        &:first-child {
          border-top: 0;
        }

        a {
          display: block;
          text-decoration: none;
          font-weight: bold;
          line-height: 16px;
          padding: 10px;

          img {
            display: block;
            float: left;
            margin-right: 10px;
          }
        }
      }
    }
  }
}
