html,body {
  width: 100%;
  height: 100%;
}

.modal-open {
overflow: hidden;
}

#stage {
  overflow: hidden;
  padding: 0px;
  margin: 0px;


  .caret {
    display: inline-block;
    width: 0;
    height: 0;
    vertical-align: top;
    border-top: 4px solid #000000;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: "";
  }

  form {
    &.has-errors {
      input[type=text] {
        border: 1px solid red;
      }
    }
    .errors {
      &>.error {
        margin-top: 10px;
      }
    }

    fieldset {
      border: 0;
      padding: 10px 0;
      margin: 0;
      background: none;

      label {
        display: block;
        margin-top: 10px;

        span {display: block}

        input[type=text],
        input[type=password] {
          width: 418px;
          padding: 5px 10px;
          font-size: 24px;
          border: 1px solid #ccc;
          background: #fafafa;
        }

        select {
          font-size: 36px;
        }
      }

      &.with-submit {
        text-align: right;

        .remember {
          float: left;

          span {display: inline-block}
        }
      }
     
    }
  }

  .label {
    color: #999;
    font-size: 12px;
  }

  #alert{
    position: absolute;
    background: rgba(255,255,255,.7);
    text-align: center;
    z-index: 100000;
    top: 125px;
    left: 50%;
    width: 300px;
    margin-left: -170px;
    padding: 50px;
    font-size: 24px;
  }

  #header {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 10px;
    height: 25px;
    z-index: 5;
    background: white;

    .container {position: relative; padding: 0;}
  }

  #mute {
    position: absolute;
    top: 35px;
    right: 10px;
    width: 24px;
    height: 24px;
    z-index: 10;
    background: image-url('icons/sound_mute.png') transparent no-repeat center center;

    &.on {
      background: image-url('icons/sound_on.png') transparent no-repeat center center;
    }
    &.chromeless {
      top: 15px;
    }
  }

  #player {
    background: image-url('moziy-logo-2.png') black no-repeat center center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  #player, .player, .mask {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    overflow:hidden;
  }

  .player {
    display: none;
  }

  .mask {
    z-index: 1;
  }

  #invite-pane {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 100px 20px 20px 0;
    z-index: 100;
    text-align: right;

    .tagline {
      background: rgba(255,255,255,.7);
      text-align: center;
      padding: 5px 20px;
      margin-top: 15px;
    }

    .button {
      line-height: 36px;
      padding: 0 20px;
      margin-left: 10px;
    }
  }

  #moziy-logo-splash {
    position: absolute;
    top: 43%;
    left: 50%;
    margin-top: -115px;
    margin-left: -347px;
    height: 229px;
    width: 692px;
    z-index: 100;
  }

  #actions-pane {
    display: none;
    position: absolute;
    height: 200px;
    width: 100px;
    left: 50%;
    top: 45%;
    margin-left: -50px;
    margin-top: -100px;
    z-index: 10;

    &.hover,
    &:hover {
      display: block !important;
    }

    .action-button {
      line-height: 18px;
      width: 100px;
      height: 100px;
      margin-top: 10px;
      background: rgba(255,255,255,.8);
      text-align: center;
      cursor: pointer;

      i {
        margin-top: 20px;
        top: 0;
        left: 0;
      }

      &:hover {
        background: rgba(255,255,255,1);
      }
    }
  }

  #controls-pane {
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 300px;
    height: 250px;

    .keys {
      padding: 50px 0;
      display: none;
    }

    &.hover {
      .keys {
        display: block;
      }
    }
    .row {
      text-align: center;

      .key {
        display: inline-block;
        cursor: pointer;
        width: 73px;
        height: 73px;
        opacity: 1;
      }

      #controls-left { background: image-url("keyboard/left.png") center center no-repeat; }
      #controls-up { background: image-url("keyboard/up.png") center center no-repeat; }
      #controls-down { background: image-url("keyboard/down.png") center center no-repeat; }
      #controls-right { background: image-url("keyboard/right.png") center center no-repeat; }

    }

  }

}
