$gray: #ddd;

#stage {
  #current-pane-target-zone {
    position: absolute;
    width: 100%;
    height: 60px;
    bottom: 0;
    left: 0;

    .mark {
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 20px;
      line-height: 20px;
      padding: 15px 15px;
      font-weight: bold;
      color: #999;
      opacity: .4;
    }

    &.hover {
      #current-pane{
        #current-video {
          display: block;
        }

        #current-channel {
          display: block;

          #current-channel-followers {
            span.channel-title { display: none; }
            span.follower-count { display: inline-block; }
          }
        }
      }
    }
  }

  #current-pane {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    #current-channel {
      display: block;

      &.following {
        display: none;
      }
    }
  }

  #next-playing {
    color: #666;
    font-size: 14px;
    float: right;
    cursor: pointer;
    padding: 7px 15px;
    font-weight: bold;
  }

  #now-playing {
    color: #666;
    font-size: 14px;
    font-weight: bold;
    text-transform: lowercase;
    padding: 7px 15px;
    border-bottom: 1px solid #efefef;
  }

  #current-video {
    background: #fff;
  }

  #current-sharing {
    margin-right: 10px;

    #sharing-button {
      float: right;
      padding: 0 20px;
      line-height: 36px;
    }

    #sharing-video-title {
      margin-right: 127px;
      display: none;
      padding: 5px 10px;
      font-size: 14px;
    }

    &:hover #sharing-video-title {
      background: rgba(255,255,255,.7);
      display: block;
    }
  }

  #currently-playing {

    #video-share {
      float: left;
      position: relative;
      z-index: 1;

      .share-button {
        float: left;
        margin: 10px;
        margin-right: 0;
        width: 174px;
        height: 43px;
        cursor: pointer;

        &:hover {
          position: relative;
          top: 1px;
        }
      }

      .share-twitter {
        background: image-url('share-tw.png');
      }

      .share-facebook {
        background: image-url('share-fb.png');
      }

      .share-link {
        float: left;
        cursor: pointer;
        margin: 17px 10px;
        height: 29px;
        width: 29px;
        background: image-url('share-link.png');

        &:hover {
          position: relative;
          top: 1px;
        }
      }
    }

    #video-info {
      margin-right: 307px;
      font-size: 14px;
      position: relative;
    }

    #video-title {
      padding: 8px;
      height: 46px;
      line-height: 46px;

      .heading {
        font-style: italic;
      }
    }

    #video-header {
      position: relative;
      z-index: 1;
      width: 290px;
      float: right;
      padding: 8px;
      border-left: 1px solid $gray;

      img {
        float: left;
        margin-right: 8px;
      }
    }

    #video-parent {
      cursor: pointer;
      color: #666;
      font-size: 16px;
      line-height: 44px;
      height: 44px;

      .channel-from,
      .restream-from {
        cursor: pointer;
        text-decoration: none;
      }

      a {
        font-weight: bold;
      }
      i {
        position: relative;
        top: 5px;
        margin-top: -10px;
      }
    }

    #video-actions {
      .video-button {
        display: block;
        float: left;
        width: 50%;
        cursor: pointer;
        text-align: center;
        font-size: 12px;
        border-right: 1px solid #ccc;
        margin-right: -1px;
        border-bottom: 1px solid #ccc;
        line-height: 48px;
        text-transform: uppercase;
        color: #666;

        &:hover {
          background: #efefef;
        }
      }
    }

    .meta {
      font-size: 13px;
      float: right;

      .video-actions {
        .video-action {
          float: left;
          cursor: pointer;
          display: block;
          margin: 12px 12px 12px 0;
          width: 36px;
          height: 36px;

          &:hover {
            position: relative;
            top: 1px;
          }
        }

        .video-restream {
          background: image-url('large-restream-icon.png');
        }

        .video-like {
          background: image-url('large-heart-icon.png');
        }
      }


      #video-notes, #video-share {
        cursor: pointer;
        font-weight: bold;
      }

      #video-share {
        float: right;
      }
    }
  }

  #current-channel {
    width: 150px;
    color: black;

    #current-channel-coverart {
      img {
        display:block;
        height: 150px;
        width: 150px;
        border-top: 1px solid #ddd;
      }
    }

    #current-channel-info {
      position: relative;
      cursor: pointer;
    }

    #current-channel-followers {
      position: absolute;
      bottom: 0;
      right: 0;
      left: 0;
      padding: 10px 0;
      color: #000;
      background: rgba(255,255,255,.8);
      text-align: center;

      span.channel-title { display: inline-block; font-weight: bold }
      span.follower-count { display: none; }

    }


    #current-channel-title {
      font-weight: bold;
      font-size: 13px;
      .slug {
        color: #666;
        font-size: 16px;
        font-weight: normal;
      }
    }


    #current-channel-follow {
      position: relative;

      .follow-button {
        text-transform: uppercase;
        font-size: 12px;
        line-height: 48px;
        display: block;
        text-align: center;
        padding: 0;
        color: #fff;

        &.following {
          span {color: #666;}
          &:hover {
            span { display: none;}
            span.unfollow-text {display: inline-block }
          }
        }
      }
    }
  }
}
