#stage {
  #notes-modal {
    width: 600px;
    margin-left: -300px;

    .header {
      padding: 15px 20px;
      font-size: 16px;
    }

    #restreams-label {
      display: block;
      background: #ccc;
      color: #fff;
      padding: 7px 20px;
      font-size: 16px;
    }

    #comment-form {
      border-bottom: 1px solid #ddd;
      padding: 15px 20px;

      &.active {
        textarea {
          height: 54px;
        }
        .with-submit {
          display: block;
        }
      }

      .single-field {
        padding: 0;
        border: 1px solid #ccc;
      }

      label {
        margin: 0;
        padding: 10px;

        span {
          display: none;
        }

        textarea {
          outline: none;
          border: 0;
          padding: 0;
          width: 100%;
          font-size: 14px;
          line-height: 18px;
          height: 18px;
          overflow-y: scroll;
          resize: none;
          vertical-align: bottom;
        }
      }

      .with-submit {
        display: none;
      }
    }

    .restream-item {
      cursor: pointer;
      float: left;
      position: relative;

      &.note-type-Comment {
        clear: both;
        float: none;
        border-top: 1px solid #ddd;

        .restream-channel-cover-art {
          float: left;
          margin-right: 15px;
          height: 80px;
          width: 80px;
        }

        .restream-channel-info {
          display: block;
          float: left;
          position: relative;
          text-align: left;
          padding-top: 20px;

          .restream-channel-followers {
            display: none;
          }
        }
      }

      .note-type {
        color: #999;
        padding: 5px;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #fff;
        z-index: 3;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 12px;
        opacity: .9;
      }


      &:hover {
        .restream-channel-info {
          display: block;
        }
      }

      .restream-channel-cover-art {
        display: block;
      }

      .restream-channel-info {
        color: #000;
        background: rgba(255,255,255, .8);
        display: none;
        padding-top: 55px;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        bottom: 0;
        z-index: 2;
        text-align: center;
      }

      .restream-channel-title {
        font-weight: bold;
      }

      .restream-channel-description {
        color: #666;
        font-style: italic;
      }
    }
  }

  #restream-modal {
    .channel-item {
      cursor: pointer;
      border: 1px solid #eee;

      &:hover {
        background: #efefef;
      }

      img {
        width: 48px;
        height: 48px;
        float: left;
        margin-right: 10px;
      }

      .channel-title {
        font-size: 16px;
        line-height: 48px;

      }
    }
  }

  #add-modal {
    .add-menu-item {
      display: block;
      cursor: pointer;
      float: left;
      width: 50%;
      padding: 60px 0;
      text-align: center;
      text-decoration: none;

      &:first-child {
        border-right: 1px solid #eee;
        margin-right: -1px;
      }

      &:hover {
        background: #efefef;
      }
    }

    .add-airing-body {
      display: none;
    }
    .modal-footer {
      padding: 0;
      height: 48px;
    }
  }

  #login-modal,
  #invite-modal {
    .modal-header {
      padding: 30px 20px 10px;
      border-bottom: 0;
    }
    .modal-body {
      padding: 0 20px 20px;
      label span {
        display: none;
      }
    }
    button {
      position: absolute;
      margin: 0;
      padding: 0;
      width: 120px;
      top: 0;
      right: 0;
      bottom: 0;
    }
    .modal-footer {
      padding: 4px 20px;
      height: 40px;
      label {
        margin-top: 0;
      }
    }
  }

  #invite-modal {
    .success {
      display: none
    }

    form.submitted {
      .start {display: none;}
      .success {display: block;}
    }
  }

  .modal {
    overflow: hidden;
    .close {
      float: right;
      padding: 8px 10px;
      font-size: 14px;
      font-weight: bold;
      cursor: pointer;
      position: absolute;
      color: #666;
      top: 0;
      right: 0;
      background: #fff;
      border: 0;
      -webkit-box-shadow: inset 1px 0 0 rgba(255, 255, 255, .5);
      -moz-box-shadow: inset 1px 0 0 rgba(255,255,255,.5);
      box-shadow: inset 1px 0 0 rgba(255, 255, 255, .5);

      &:hover {
        color: #000;
        background: #fafafa;
      }
    }
    .header,
    .modal-header {
      padding: 15px 20px;
      font-size: 16px;
      border-bottom: 1px solid #eee;

      &.modal-no-padding {
        padding: 0;
      }
    }
    .modal-body {
      padding: 20px;

      &.modal-no-padding {
        padding: 0;
      }
    }
    .modal-footer {
      position: relative;
      border-top: 1px solid #efefef;
      padding: 15px;

      button,
      .button {
        position: absolute;
        margin: 0;
        padding: 0;
        width: 100px;
        top: 0;
        right: 0;
        bottom: 0;
        line-height: 48px;
        text-align: center;
      }
    }
  }

  #channel-modal {
    .channel-image {float:left; margin-right: 20px;}
    .channel-info {
      padding: 15px;

      .channel-title {
        font-size: 16px;
        font-weight: bold;
        padding-top: 15px;
      }

      .user {
        font-size: 13px;
        color: #666;
      }

      .channel-description {font-size: 13px; margin-top: 10px; font-style: italic}
    }

    .action-bar {
      &>div {position: relative; height: 57px}
      .part1 {float: left; width: 30%; border-right: 1px solid #eee; margin-right: -1px;}
      .part2 {float: left; width: 45%; border-right: 1px solid #eee; margin-right: -1px;}
      .part3 {float: left; width: 25%;}
    }

    .slug,
    .count,
    .follow-button {font-weight: bold}

    .channel-slug,
    .follower-count {padding: 10px}

    .watch-button {
      cursor: pointer;
    }

    .follow-button {
      line-height: 57px;
      width: 100%;
      cursor: pointer;
      text-align: center;
      padding: 0;
    }

    .now-playing {border-top: 1px solid #eee; padding: 20px;}
  }

  .modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000000;
  }

  .modal-backdrop.fade {
    opacity: 0;
  }

  .modal-backdrop,
  .modal-backdrop.fade.in {
    opacity: 0.8;
    filter: alpha(opacity=80);
  }

  .modal-scrollable {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
  }

  .modal {
    position: absolute;
    top: 150px;
    left: 50%;
    z-index: 1050;
    width: 480px;
    margin-left: -240px;
    margin-bottom: 150px;
    background-color: #ffffff;
    border: 1px solid #999;
    border: 1px solid rgba(0, 0, 0, 0.3);
    *border: 1px solid #999;
    outline: none;
    overflow: auto;
    -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
       -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
            box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
    -webkit-background-clip: padding-box;
       -moz-background-clip: padding-box;
            background-clip: padding-box;
  }

  .modal.fade {
    top: -25%;
    -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
       -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
         -o-transition: opacity 0.3s linear, top 0.3s ease-out;
            transition: opacity 0.3s linear, top 0.3s ease-out;
  }

  .modal.fade.in {
    top: 10%;
  }
/* Modal Overflow */

.modal-overflow.modal {
	top: 1%;
}

.modal-overflow.modal.fade {
	top: -100%;
}

.modal-overflow.modal.fade.in {
	top: 1%;
}

.modal-overflow .modal-body {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
  
}
