= form_for [@airing, Comment.new], html: {id: "comment-form", class: "horizontal-form"} do |f|
  = label_tag :body, 'Say something...'
  = text_area_tag :body, "", placeholder: "Say something..."
  %i.loader
  = f.submit "Post", class: "primary button"
