- unless og_type.nil?
  %meta{:property => "og:type", :content => og_type}
- unless og_title.nil?
  %meta{:property => "og:title", :content => og_title}
- unless og_image.nil?
  %meta{:property => "og:image", :content => og_image}
- unless og_description.nil?
  %meta{:property => "og:description", :content => og_description}
- unless og_url.nil?
  %meta{:property => "og:url", :content => og_url}
